body{
  font-family: Outfit, sans-serif;
  background-color: hsl(212, 45%, 89%);
}

#main{
  background-color: hsl(0, 0%, 100%);
  margin: 0 auto;
  height: 250px;
  width: 125px;
  border-radius: 10px;
}