REbody{
  font-family: Outfit, sans-serif;
  background-color: hsl(212, 45%, 85%);
}

#main{
  background-color: hsl(0, 0%, 100%);
  position: relative;
  top: 275px;
  margin: 0 auto;
  height: 280px;
  width: 175px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 10px hsl(212, 45%, 80%);
}

img{
  height: 150px;
  width: 150px;
  margin-top: 10px;
  border-radius: 7px;
}

#caption{
  margin: 0 10px;
}

#caption h5{
  color: hsl(218, 44%, 22%);
  line-height: 17px;
  position: relative;
  top: -10px;
  font-size: 12px;
}

#caption p{
  font-size: 9px;
  font-weight: 700;
  line-height: 12px;
  color: hsl(212, 45%, 70%);
  position: relative;
  top: -19px;
}
